.bundle/
/vendor/bundle
log/*.log
pkg/
/pkg
.floo
.flooignore
.yardoc
*.rbc
capybara-*.html
.env
.rspec
.DS_Store
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
/.overcommit.yml
/.git-hooks
/.byebug_history
/.ruby-version
*.swp
/public/system
/public/assets
/.vagrant
/spec/dummy/public/assets
/spec/dummy/.byebug_history
/spec/dummy/tmp/miniprofiler
/spec/dummy/tmp/capybara
/pkg
.rubocop-https*
/data
/doc
/.idea
/Find Results
key.gpg
/spec/dummy/generated_organisations.csv
/.vscode
/spec/dummy/coverage
/coverage/
/spec/tmp
/.env.development
/spec/dummy/bla2.xml
/spec/dummy/bla1.xml
/bla.xml
/node_modules
